
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(233, 226, 217);
  display: grid;
  place-content: center;
  font-family: "Roboto", sans-serif;
  height: 100vh;
  font-size: 2rem;
}

.calc {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 1px;
}

#result {
  grid-column: 1 / -1;
  background-color: gray;
  color: white;
  text-align: right;
  padding: 0.5rem;
  font-size: 4rem;
  overflow: hidden;
  border: wheat;
}

.button {
  display: grid;
  place-content: center;
  cursor: pointer;
  font-weight: bold;
  border: rgb(119, 118, 118);
}

.button:hover {
  background-color: gray;
}

.light-gray {
  background-color: rgb(184, 182, 182);
  color: black;
}

.light-gray:hover {
  background-color: white;
}

.orange {
  background-color: orange;
  gap: 6px;
}

.orange:hover {
  background-color: white;
  color: orange;
}

.zero {
  grid-column: 1 / span 2;
  place-content: unset;
  align-items: center;
  padding-left: 2rem;
}
